name: 'Update Checksums'
on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '20'
      - name: Update default version and checksums
        id: update-default-version
        run: node dist/update-default-version/index.js src/checksums.ts action.yml ${{ secrets.GITHUB_TOKEN }}
      - run: npm install && npm run all
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@5e914681df9dc83aa4e4905692ca88beb2f9e91f  # v7.0.5
        with:
            commit-message: "chore: update checksums"
            title: "chore: update default version to ${{ steps.update-default-version.outputs.latest-version }}"
            body: "chore: update default version to ${{ steps.update-default-version.outputs.latest-version }}"
            base: main
            labels: "automated-pr,bugfix"
            branch: update-default-version-pr
            delete-branch: true